body {
    background-color: #6ba167;
    padding: 40px;
}
h1 {
    font-size: 4em;
    color: #8ECB7B;
    border: 10px solid #b631af;
    border-radius: 15px;
    border-style: double;
    text-align: center;
    background-image: url(./image/feuillage.jpg);
    background-position: center;
    box-shadow: 5px 5px 12px #555
}
#lettrine:first-letter {
  font-size : 60px;
  color : #0e3606;
  padding:10px 10px 10px 0;
  float : left;
}
li {
    color: #9f0092;
    font-weight: bolder;
}
label{
    color: #b0adad;
    width: 12em;
    display: inline-block;
}
label.adresse {
    font-weight: bold;
}
a {
    color:#126920
}
.texte {
    -webkit-columns: 4;
	-moz-columns: 4;
    columns: 4;
    text-align: justify;
}
